--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
jinja2
pydantic
transformers
sentencepiece
optimum[onnxruntime]
onnxruntime
torch --index-url https://download.pytorch.org/whl/cpu